@charset "UTF-8";

:root {
    --color00:#ff9e9e;
    --color01:#fd1c1c;
    --color02:#e20303;
    --color03:#af0404;
    --color04:#7c0303;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color00);
}

header {
    height: 120px;
    background-image: linear-gradient(to bottom,var(--color02),var(--color03));
}

header > a {
    display: block;
    width: 220px;
    margin: auto;
}

nav {
    background-color: #7c0303;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}

nav > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav > a:hover {
    background-color: #fd1c1c;
    transition-duration: 0.5s;
}

main {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

main h1 {
    color: var(--color04);
}

main > img {
    width: 60%;
    margin-top: 20px;
}

main p.descricaoimg {
    color: darkgray;
    margin-bottom: 10px;
    text-indent: 0px;
}

main h2 {
    color: var(--color02);
    padding: 10px 2px;
    margin-bottom: 10px;
}

main p {
    text-indent: 20px;
    line-height: 1.7em;
}

main a.destaque {
    text-decoration: none;
    font-weight: bold;
    color: var(--color04);
}

main a.destaque:hover {
    text-decoration: underline;
}
