@charset "UTF-8";

:root {
    --color00:#ff9e9e;
    --color01:#fd1c1c;
    --color02:#e20303;
    --color03:#af0404;
    --color04:#7c0303;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color00);
}

header {
    height: 120px;
    background-image: linear-gradient(to bottom,var(--color02),var(--color03));
}

header > a {
    display: block;
    width: 220px;
    margin: auto;
}

nav {
    background-color: #7c0303;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}

nav > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav > a:hover {
    background-color: #fd1c1c;
    transition-duration: 0.5s;
}

main {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

main h1 {
    color: var(--color04);
}

main > img {
    width: 60%;
    margin-top: 20px;
}

main p.descricaoimg {
    color: darkgray;
    margin-bottom: 10px;
    text-indent: 0px;
}

main h2 {
    color: var(--color02);
    padding: 10px 2px;
    margin-bottom: 10px;
}

main p {
    text-indent: 20px;
    line-height: 1.7em;
}

main a.destaque {
    text-decoration: none;
    font-weight: bold;
    color: var(--color04);
}

main a.destaque:hover {
    text-decoration: underline;
}

main div#conteiner {
    position: relative;
    height: 400px;
    background-color: var(--color04);
    margin: 0px -20px;
}

main iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
    height: 100px;
    margin-top: 40px;
    background-image: linear-gradient(to bottom,var(--color02),var(--color03));
    position: relative;
}

footer > img#logo {
    height: 60px;
    margin-top: 22px;
}


footer  img.icon {
    height: 30px;
    margin-left: 20px;
}

footer img.icon:hover {
    height:35px;
    margin-left: 15px;
}

footer > p {
    position: absolute;
    top:80%;
    left: 50%;
    font-size: 12px;
    text-align: right;
    color: rgba(0, 0, 0, 0.400);
}

footer > p > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.400);
}

footer > p > a:hover {
    text-decoration: underline;
}